*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: red;
  .wrapper2 {
    background-color: green;
    display: inline-block;
  }
}
